{% extends "base.html" %}

{% block title %}Destinations{% endblock %}

{% block content %}

<h1>Destinations</h1>

<a href="{% url 'destination-create' %}">Add New Destination</a>

<ul>
    {% for destination in destination_list %}
        <li>
            {{ destination.name }} - {{ destination.get_country_display }} - ${{ destination.price }}
        </li>
    {% empty %}
        <li>No destinations available.</li>
    {% endfor %}
</ul>

<a href="{% url 'home' %}">Back to Home</a>
{% endblock %}
