body {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}

nav {

    display: flex;
    gap: 20px;
}



nav a {
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;

}

nav ul, nav ul li {
    display: flex;
    gap: 10px;

}

ul {
    list-style: none;
}