     <h1>All Travelers</h1>
     
     <form action="" method="GET">
        <input 
            type="search" 
            name="q" 
            placeholder="Search..." 
           
        >
        <button type="submit" class="search-button">Search</button>
    </form>

    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li>
                    <p>Traveler name: {{ traveler.name }}</p>
                    <p>Bio: {{ traveler.bio }}</p>
                    <p>Country: {{ traveler.country }}</p>
                </li>
            {% endfor %}


        </ul>
    {% else %}
        <p>No travelers found.</p>
    {% endif %}