<!-- templates/traveler/traveler_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ traveler.name }}</title>
</head>
<body>
    <h1>{{ traveler.name }}</h1>

    <p><strong>Email:</strong> {{ traveler.email }}</p>
    <p><strong>Age:</strong> {{ traveler.age }}</p>
    <p><strong>Country:</strong> {{ traveler.get_country_display }}</p>
    <p><strong>Registered:</strong> {{ traveler.registered_at }}</p>

    <p><strong>Bio:</strong></p>
    <p>{{ traveler.bio|default:"No bio provided." }}</p>

    <p>
        <strong>Status:</strong>
        {% if traveler.is_active %}
            Active
        {% else %}
            Inactive
        {% endif %}
    </p>
    
    <p>Traveler's Reviews:</p>
    <ul>
        {% if traveler.reviews %}
        {% for review in traveler.reviews.all %}
        <li>{{ review }}</li>
        {% endfor %}
        {% else %}
            <p>No reviews yet</p>
        {% endif %}
    </ul>
    
     <p>Traveler's Destinations:</p>
    <ul>
        {% if traveler.destinations %}
        {% for destination in traveler.destinations.all %}
        <li>{{ destination }}</li>
        {% endfor %}
        {% else %}
            <p>No destinations yet</p>
        {% endif %}
    </ul>
    
     <p>Traveler's Details Page visited: {{ traveler.view_count }} times</p>

    <a href="{% url 'home' %}">Back to Home</a>
</body>
</html>